<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
 <pre>_   _      _ _        __        __         _     _
| | | | ___| | | ___   \ \      / /__  _ __| | __| |
| |_| |/ _ \ | |/ _ \   \ \ /\ / / _ \| '__| |/ _` |
|  _  |  __/ | | (_) |   \ V  V / (_) | |  | | (_| |
|_| |_|\___|_|_|\___/     \_/\_/ \___/|_|  |_|\__,_|
        </pre>
    </div>
    {% for post in posts %}
    <div class="post">
      <div class="post-header">
        <div class="post-title"><a href="{{ url_for('show_post', slug=post.slug) }}">{{ post.title }}</a></div>
        <div class="post-date">{{ post.date }}</div>
      </div>
      <div class="post-body">
        <p>{{ post.excerpt }} <a href="{{ url_for('show_post', slug=post.slug) }}">Read more</a></p>
      </div>
    </div>
    {% endfor %}
    <div class="post"><a href="{{ url_for('about') }}">About</a></div>
  </div>
</body>
</html>